{% extends 'base.html' %}
{% block title %}
  Food
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for item in meals %}
        <div class="col-lg-4 col-md-4 col-sm-12 p-0 mt-4">
          <div class="card" style="width: 22rem;">
            <img src="{{ item.strMealThumb }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{item.strMeal}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
